# Archivos 
.env

# Carpetas
.venv/
src/__pycache__/
assets/overpositioned_icon/
deprecated/
scripts/

# Memoria generada
data/memory/en/memo_*.json
data/memory/es/memo_*.json

# Otros
*.log
*.tmp
*.pyc
*.pyo
*.pyd
